<!DOCTYPE html>
<html>
  <head>
    <title>Shopping List</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="shoppinglist.js"></script>
    <style>
      body{
        background: black;
      }
      h5{
        color:orange;
      }
      p{
        color: green;
        font-family: verdana;
      }
      h3{
        color:tomato;
      }
    </style>
  </head>
    <body ng-app="App" >
  <center ng-controller="ShoppingListController">


    <h3><strong>To Buy</strong></h3>
    <div ng-if="!ToBuy.length"><p> <strong>Everything is bought!</strong> </p></div>
    <div ng-repeat="item in ToBuy">
      <h5><strong>{{item.quantity}} of {{item.name}} </strong> 
      <div class="container" style="width: 10%;margin: 10px auto 10px auto;">
      <button class="btn btn-success my-4 btn-block" ng-click="remove($index)"> Bought </button></h5>
    </div>
    </div>


    <h3><strong>Already Bought</strong></h3>
    <div ng-if="!AlreadyBought.length"><p> <strong>Nothing is bought </strong></p></div>
    <div ng-repeat="item2 in AlreadyBought">
      <h5><strong>{{item2.quantity}} of {{item2.name}} </strong>     </div>

</center>
</body>
</html>

